
univ_hostel/obj/Debug/univ_hostel.csproj.FileListAbsolute.txt
univ_hostel/obj/Debug/univ_hostel.csproj.CoreCompileInputs.cache
univ_hostel/bin/Debug/univ_hostel.pdb
univ_hostel/bin/Debug/univ_hostel.exe.config
univ_hostel/bin/Debug/univ_hostel.exe
.vs/univ_hostel/v15/Server/sqlite3/storage.ide-wal
.vs/univ_hostel/v15/Server/sqlite3/storage.ide-shm
univ_hostel/obj/Debug/univ_hostel.pdb
univ_hostel/obj/Debug/univ_hostel.exe
univ_hostel/obj/Debug/univ_hostel.csprojAssemblyReference.cache
univ_hostel/obj/Debug/univ_hostel.csproj.GenerateResource.cache
univ_hostel/obj/Debug/univ_hostel.csproj.FileListAbsolute.txt
univ_hostel/obj/Debug/univ_hostel.csproj.CoreCompileInputs.cache
univ_hostel/bin/Debug/univ_hostel.pdb
univ_hostel/bin/Debug/univ_hostel.exe.config
univ_hostel/bin/Debug/univ_hostel.exe
.vs/univ_hostel/v15/Server/sqlite3/storage.ide-wal
.vs/univ_hostel/v15/Server/sqlite3/storage.ide-shm
.vs/univ_hostel/v15/Server/sqlite3/storage.ide
.vs/univ_hostel/v15/.suo
DOGOVOR_NAJMA_ZhILOGO_POMESchENIYa_V_OBSchEZhITII_byudzhet.docx
DOGOVOR_NAJMA_ZhILOGO_POMESchENIYa_V_OBSchEZhITII_kontrakt.docx
